<!DOCTYPE HTML>
<html>
<head>
	<meta sharset="utf-8">
	<title>勤怠管理</title>
</head>
    <body>
		<form action="http://localhost:8080/index" method="post">
		<a href="attendance.html">勤怠入力</a>
		<a href="attendance_place.html">勤怠場所登録</a>
		<a href="attendance_registr.html">連絡先登録</a>
		<a href="attendance_historylist">勤怠履歴一覧表示</a>
		<a href="attendance_situationlist.html">勤怠状況一覧表示</a>
		<a href="login.html">ログアウト</a></br>
		<h10>こんにちは、ななしさん。</h10></br>
		<p11>状態:未出勤</p11>

		<p id="RealtimeDateArea">※ここに日付が表示されます。</p>
		<p id="RealtimeClockArea">※ここに時計が表示されます。</p>

			</br></br>
			<input type="submit" value="出勤" onclick="Attendance1()"/>
			</br></br>
			<input type="submit" value="退勤" onclick="Attendance2()"/>
			</br></br>
			<input type="submit" value="休憩開始" onclick="Attendance3()"/>
			</br></br>
			<input type="submit" value="休憩終了" onclick="Attendance4()"/>

		</form>
		<script src="time.js"></script>
    	<script src="indexAreat.js"></script>
    </body>
</html>