<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:inline="javascript">
		const error = /*[[${error}]]*/"";
    if (error != null) {
        alert(error);
    }
	</script>
</head>
<body>
<div class="container">
	<form th:action="@{/login}" method="post">
		<p class="fsize">Login</p>
		<input type="text" name="userid" autocomplete="off" placeholder="UserId"/>
		<input type="password" name="password" autocomplete="off" placeholder="Password"/>
		<p th:text="${errorMsg}"></p>
		<button type="submit">Login</button>
	</form>
</div>
</body>
</html>

