<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>勤怠</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/userpage.css}">
</head>
<body>
<nav>
    <ul>
        <li><a href="index" class="current">勤怠入力</a></li>
        <li><a href="#">連絡先登録</a></li>
        <li><a href="#">勤怠履歴一覧表示</a></li>
        <li><a href="attendanceList">勤怠状況一覧表示</a></li>
        <li><a class="openbtn">アカウント</a></li>
    </ul>
</nav>
<nav id="g-nav">
    <div id="g-nav-list">
        <p>従業員ID : <span th:text="${userId}"></span></p>
        <p>名前 : <span th:text="${userName}"></span></p>
        <a href="userPassChange">パスワード変更</a>
        <a href="login">ログアウト</a>
    </div>
</nav>
<div class="add_form">
    <form action="" th:action="@{/passChange}" method="post">
        <p>旧パスワード</p>
        <input type="password" name="oldPassword">
        <p>新しいパスワード</p>
        <input type="password" name="newPassword">
        <p>新しいパスワード[確認]</p>
        <input type="password" name="newTwoPassword">
        <input type="submit" value="パスワードの変更">
        <h1 th:text="${resultMsg}"></h1>
        <h1 th:text="${errorMsg}"></h1>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script th:src="@{/js/userPage.js}"></script>
</body>
</html>