body {
    font-family: 'Hiragino Kaku Gothic Pro','Meiryo',sans-serif,Arial;
    font-size: 15px;
    text-align: center;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* loginデザイン */
.fsize {
    font-size: 24px;
    text-align: center;
}
.container {
    width: 300px;
    margin: 0 auto;
    min-height: 98vh;
    align-items: center;
    display: flex;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.container form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container [type="text"],
.container [type="password"] {
    width: 92%; padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff; border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container button[type="submit"]:hover {
    background-color: #3a63b4;
}

.main form {
    margin-top: 30px;
}

/* メニュー */
nav {
    text-align: center;
    margin-top: 30px;
}
nav ul {
    margin: 0 ;
    padding: 0 ;
}
nav li {
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
}
nav li:not(:last-child){
    border-right:2px solid #ddd;
}
nav a {
    text-decoration: none;
    color: #333;
}
nav a.current {
    color: #007bff;
    border-bottom:2px solid #007bff;
}
nav a:hover {
    color:#F7CB4D;
    border-bottom:2px solid #F7CB4D;
}
/* nav li a {
    display: block;
    height: 100%;
    width: 100%
} */

/* tableデザイン */
.main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #000;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #000;
    border-right: none;
    border-left: none;
}

.edit {
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

.edit {
    border-right: none;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #DCDCDC;
}

.edit a {
    text-decoration: none;
    color: #007bff;
}


.add_form form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_form form p {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}
.add_form p {
    margin-bottom: 20px;
}
.add_form input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.add_form input[type="submit"] {
    width: auto;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add_form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}
.add_form a {
    width: auto;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* 連絡先登録 */
.contact form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form p {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}
.contact p {
    margin-bottom: 20px;
}
.contact input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact textarea{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact button[type="submit"] {
    width: auto;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}
.contact a {
    width: auto;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.errorMsg{
    font-size: 15px;
    color: red;
}